/*
 * Custom Stylesheet for my Weather Application
*/

/* !DEFAULT VARIABLES */

:root {


    /* !Custom CSS Variables */
    --primary-color: #0F2B3A;
    --primary-color-light: #8bf6ff;
    --primary-color-dark: #1F567C;

    --secondary-color: #0F2B3A;
    --secondary-color-light: #e6ffff;
    --secondary-color-dark: #82b3c9;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open sans', sans-serif;

    --background-color-primary: #F5F5F5;

    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: var(--primary-font);
    color: white;

}

body {
    padding: 0;
    margin: 0;
}

/* Navigation Bar */
.navbar {
    width: 80vw;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 4px 2px var(--primary-color);

}

.nav {
    padding: 0 1em 0 1em;
    margin: 0;
    /* Flex */
    display: flex;
}

#nav-divider {
    background-color: rgb(21, 58, 78);
    padding: 8px;
    display: block;
    margin: 0;
    border: none;
}

.nav-item:first-child {
    margin: 24px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: white;
    text-shadow: 0 4px 2px #111;
}

#weather-explanation {
    text-align: center;
    color: #878787;
    margin: 1em;
}


.background {
    background-color: var(--background-color-primary);
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-weather {
    position: relative;
    height: 100%;
    width: 75vw;
    /* background-color: wheat; */
    margin-left: auto;
    margin-right: auto;

    display: flex;
}

.weather-details {
    width: 100%;
    background-color: var(--primary-color-dark);
    border: none;
    box-shadow: 0 4px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description {
    text-align: center;
    font-size: 2em;
    text-shadow: 0 2px 2px #111;
    margin: 0.5em 1em;
    font-family: 'Kaushan Script', cursive;
    color: white;
}

.description-flavour {
    margin: 1em;
    font-family: 'Open sans';
    letter-spacing: 0;
    font-size: 0.6em;
}

.weather-item {
    width: 40%;
    padding-left: 10%;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
    min-width: 0;
    font-size: 1em;
    text-shadow: 0 2px 2px #111;
}

.weather-item>span {
    font-size: 0.8em;
}

.weather-summary {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-dark);
    margin-left: 2em;
    box-shadow: 0 4px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.text {
    display: block;
    margin: 0.5em auto;
    font-family: 'Open sans';
    letter-spacing: 0;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0 2px 2px #111;
}

.weather-statement {
    display: block;
    margin: 0.5em auto;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0;
    font-size: 2em;
    text-shadow: 0 2px 2px #111;
}

.map-description {
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
}

#map {
    height: 550px;
    width: 90%;
    margin: 1em;
    border-radius: 12px;
    background-color: white;
}


.weather-list {
    display: flex;
    min-width: 0;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    margin: 1em;
}

sup {
    font-size: 0.6em;
    font-style: italic;
}

.weather-icons {
    display: inline;
    margin-right: auto;
}

@media (max-width: 1300px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {

    .container-weather {
        margin-top: 1em;
        flex-direction: column;
        width: auto;
        position: relative;
        top: 0;
        left: 0;
        align-content: center;
        margin-left: 1em;
        justify-content: center;
    }


    .background {
        position: fixed;
    }

    .weather-summary {
        width: auto;
        height: 100%;
        margin: 1em;
    }

    .weather-statement {
        font-size: 3em;
    }

    .weather-details {
        width: auto;
        padding: 2em;
        margin: 1em;
        display: flex;
        flex-direction: column;
    }

    .weather-details {
        order: 2;
    }
}